<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>

    <!-- 🔧 Disable all output caching -->
    <caching enabled="false" enableKernelCache="false" />

    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:3001/{R:1}" />
        </rule>
                <rule name="ReverseProxyTo8081" enabled="false">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://localhost:8081/{R:1}" />
                </rule>
                <rule name="ReverseProxyTo80" enabled="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{SERVER_PORT}" pattern="^80$" />
                    </conditions>
                    <action type="Rewrite" url="http://localhost:8081/{R:1}" />
                </rule>
      </rules>
    </rewrite>

    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>
