-- MySQL dump 10.13  Distrib 8.0.41, for Win64 (x86_64)
--
-- Host: 10.0.4.199    Database: lean_project_dev
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `frozen_measure_data`
--

LOCK TABLES `frozen_measure_data` WRITE;
/*!40000 ALTER TABLE `frozen_measure_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `frozen_measure_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `help_requests`
--

LOCK TABLES `help_requests` WRITE;
/*!40000 ALTER TABLE `help_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `help_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `improve_full`
--

LOCK TABLES `improve_full` WRITE;
/*!40000 ALTER TABLE `improve_full` DISABLE KEYS */;
/*!40000 ALTER TABLE `improve_full` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kpi_preferences`
--

LOCK TABLES `kpi_preferences` WRITE;
/*!40000 ALTER TABLE `kpi_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kpi_preferences_maintenance`
--

LOCK TABLES `kpi_preferences_maintenance` WRITE;
/*!40000 ALTER TABLE `kpi_preferences_maintenance` DISABLE KEYS */;
INSERT INTO `kpi_preferences_maintenance` VALUES (1,'{\"MTBF (h)\": 150, \"Mean Downtime (h)\": 10, \"Planned Downtime (h)\": 3, \"Unplanned Downtime (h)\": 10, \"Maintenance Operation Efficiency (%)\": 85, \"Frequency of Machine Interventions (interventions/week)\": 6}','{\"MTBF (h)\": \"maximize\", \"Mean Downtime (h)\": \"minimize\", \"Planned Downtime (h)\": \"maximize\", \"Unplanned Downtime (h)\": \"minimize\", \"Maintenance Operation Efficiency (%)\": \"maximize\", \"Frequency of Machine Interventions (interventions/week)\": \"minimize\"}','2025-09-27 22:24:43');
/*!40000 ALTER TABLE `kpi_preferences_maintenance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `kpi_yield_data`
--

LOCK TABLES `kpi_yield_data` WRITE;
/*!40000 ALTER TABLE `kpi_yield_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_yield_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `machine_status`
--

LOCK TABLES `machine_status` WRITE;
/*!40000 ALTER TABLE `machine_status` DISABLE KEYS */;
INSERT INTO `machine_status` VALUES ('PC1','DOWN','2025-10-21 20:45:13'),('PC2','UP','2025-09-27 22:41:56'),('PC4','UP','2025-10-02 13:24:50'),('PC5','UP','2025-09-27 22:37:44'),('PC6','UP','2025-09-27 22:37:44'),('PC7','UP','2025-09-27 22:37:44'),('PC8','UP','2025-10-23 14:28:51'),('PC9','UP','2025-10-13 05:09:53');
/*!40000 ALTER TABLE `machine_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `machining_times`
--

LOCK TABLES `machining_times` WRITE;
/*!40000 ALTER TABLE `machining_times` DISABLE KEYS */;
INSERT INTO `machining_times` VALUES (1,'1B',2.1),(2,'2B',2.2),(3,'115B',2.65),(4,'9X',4.1);
/*!40000 ALTER TABLE `machining_times` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
INSERT INTO `maintenance_logs` (`id`, `plyCutter`, `start_time`, `end_time`, `reason`, `work_order`, `comment`, `created_at`) VALUES (639,'PC4','2025-10-01 15:58:41','2025-10-02 20:24:49','Mechanical',NULL,'C axe','2025-10-01 08:58:42'),(640,'PC9','2025-10-12 07:11:41','2025-10-13 12:09:53','Not Specified',NULL,'test','2025-10-12 00:11:41'),(641,'PC1','2025-10-22 03:45:13',NULL,'Not specified',NULL,NULL,'2025-10-21 20:45:13'),(642,'PC8','2025-10-22 03:45:46','2025-10-23 21:28:51','Other',NULL,'Laser work','2025-10-21 20:45:46');
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `ply_cutter_obj`
--

LOCK TABLES `ply_cutter_obj` WRITE;
/*!40000 ALTER TABLE `ply_cutter_obj` DISABLE KEYS */;
/*!40000 ALTER TABLE `ply_cutter_obj` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_analyze_data`
--

LOCK TABLES `project_analyze_data` WRITE;
/*!40000 ALTER TABLE `project_analyze_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_analyze_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_close_data`
--

LOCK TABLES `project_close_data` WRITE;
/*!40000 ALTER TABLE `project_close_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_close_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_control_data`
--

LOCK TABLES `project_control_data` WRITE;
/*!40000 ALTER TABLE `project_control_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_control_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_define_data`
--

LOCK TABLES `project_define_data` WRITE;
/*!40000 ALTER TABLE `project_define_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_define_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_improve_data`
--

LOCK TABLES `project_improve_data` WRITE;
/*!40000 ALTER TABLE `project_improve_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_improve_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_machines`
--

LOCK TABLES `project_machines` WRITE;
/*!40000 ALTER TABLE `project_machines` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_machines` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `project_measure_data`
--

LOCK TABLES `project_measure_data` WRITE;
/*!40000 ALTER TABLE `project_measure_data` DISABLE KEYS */;
/*!40000 ALTER TABLE `project_measure_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `projects`
--

LOCK TABLES `projects` WRITE;
/*!40000 ALTER TABLE `projects` DISABLE KEYS */;
/*!40000 ALTER TABLE `projects` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `reported_issues`
--

LOCK TABLES `reported_issues` WRITE;
/*!40000 ALTER TABLE `reported_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `reported_issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `shift_tracking`
--

LOCK TABLES `shift_tracking` WRITE;
/*!40000 ALTER TABLE `shift_tracking` DISABLE KEYS */;
INSERT INTO `shift_tracking` VALUES (1,'PC1',3,'2025-01-31');
/*!40000 ALTER TABLE `shift_tracking` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-10-28  0:51:04
