-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: LEAN_project
-- ------------------------------------------------------
-- Server version	9.1.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `button_presses`
--

DROP TABLE IF EXISTS `button_presses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `button_presses` (
  `id` int NOT NULL AUTO_INCREMENT,
  `button_index` varchar(50) DEFAULT NULL,
  `timestamp` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `button_presses`
--

LOCK TABLES `button_presses` WRITE;
/*!40000 ALTER TABLE `button_presses` DISABLE KEYS */;
/*!40000 ALTER TABLE `button_presses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `help_requests`
--

DROP TABLE IF EXISTS `help_requests`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `help_requests` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plyCutter` varchar(50) NOT NULL,
  `shift` varchar(10) NOT NULL,
  `request_date` datetime DEFAULT NULL,
  `start_call` datetime NOT NULL,
  `end_call` datetime NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `help_requests`
--

LOCK TABLES `help_requests` WRITE;
/*!40000 ALTER TABLE `help_requests` DISABLE KEYS */;
/*!40000 ALTER TABLE `help_requests` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_preferences`
--

DROP TABLE IF EXISTS `kpi_preferences`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_preferences` (
  `id` int NOT NULL DEFAULT '1',
  `thresholds` json DEFAULT NULL,
  `goals` json DEFAULT NULL,
  `highlights` json DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_preferences`
--

LOCK TABLES `kpi_preferences` WRITE;
/*!40000 ALTER TABLE `kpi_preferences` DISABLE KEYS */;
/*!40000 ALTER TABLE `kpi_preferences` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_preferences_maintenance`
--

DROP TABLE IF EXISTS `kpi_preferences_maintenance`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_preferences_maintenance` (
  `id` int NOT NULL,
  `thresholds` json DEFAULT NULL,
  `goals` json DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_preferences_maintenance`
--

LOCK TABLES `kpi_preferences_maintenance` WRITE;
/*!40000 ALTER TABLE `kpi_preferences_maintenance` DISABLE KEYS */;
INSERT INTO `kpi_preferences_maintenance` VALUES (1,'{\"MTBF (h)\": 50, \"Mean Downtime (h)\": 16, \"Planned Downtime (h)\": 3, \"Unplanned Downtime (h)\": 10, \"Maintenance Operation Efficiency (%)\": 85, \"Frequency of Machine Interventions (interventions/week)\": 5}','{\"MTBF (h)\": \"maximize\", \"Mean Downtime (h)\": \"minimize\", \"Planned Downtime (h)\": \"maximize\", \"Unplanned Downtime (h)\": \"minimize\", \"Maintenance Operation Efficiency (%)\": \"maximize\", \"Frequency of Machine Interventions (interventions/week)\": \"minimize\"}','2025-05-02 22:47:53');
/*!40000 ALTER TABLE `kpi_preferences_maintenance` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kpi_yield_data`
--

DROP TABLE IF EXISTS `kpi_yield_data`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `kpi_yield_data` (
  `month` varchar(7) NOT NULL,
  `defects` int DEFAULT '0',
  PRIMARY KEY (`month`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kpi_yield_data`
--

LOCK TABLES `kpi_yield_data` WRITE;
/*!40000 ALTER TABLE `kpi_yield_data` DISABLE KEYS */;
INSERT INTO `kpi_yield_data` VALUES ('2024-03',0),('2024-04',0),('2024-05',0),('2024-06',0),('2024-07',0),('2024-08',0),('2024-09',0),('2024-10',0),('2024-11',0),('2024-12',0),('2025-01',20),('2025-02',1),('2025-03',10),('2025-04',2),('2025-05',3);
/*!40000 ALTER TABLE `kpi_yield_data` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machine_status`
--

DROP TABLE IF EXISTS `machine_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machine_status` (
  `plyCutter` varchar(50) NOT NULL,
  `status` varchar(50) DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`plyCutter`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machine_status`
--

LOCK TABLES `machine_status` WRITE;
/*!40000 ALTER TABLE `machine_status` DISABLE KEYS */;
INSERT INTO `machine_status` VALUES ('PC1','DOWN','2025-05-04 18:59:31'),('PC10','UP','2025-03-22 20:47:41'),('PC2','DOWN','2025-05-01 10:16:32'),('PC4','DOWN','2025-05-04 15:10:11'),('PC5','UP','2025-03-22 20:32:04'),('PC6','UP','2025-03-22 20:47:25'),('PC7','UP','2025-03-22 20:47:29'),('PC8','UP','2025-03-22 20:47:34'),('PC9','UP','2025-03-22 20:47:38');
/*!40000 ALTER TABLE `machine_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `machining_times`
--

DROP TABLE IF EXISTS `machining_times`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `machining_times` (
  `id` int NOT NULL AUTO_INCREMENT,
  `program` varchar(20) DEFAULT NULL,
  `mt_hours` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `program` (`program`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `machining_times`
--

LOCK TABLES `machining_times` WRITE;
/*!40000 ALTER TABLE `machining_times` DISABLE KEYS */;
INSERT INTO `machining_times` VALUES (1,'1B',2.16),(2,'2B',2.19),(3,'115B',2.65),(4,'9X',4);
/*!40000 ALTER TABLE `machining_times` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plyCutter` varchar(50) NOT NULL,
  `start_time` datetime NOT NULL,
  `end_time` datetime DEFAULT NULL,
  `duration` decimal(5,2) GENERATED ALWAYS AS ((timestampdiff(SECOND,`start_time`,`end_time`) / 3600)) STORED,
  `reason` text NOT NULL,
  `work_order` varchar(255) DEFAULT NULL,
  `comment` text,
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=491 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maintenance_logs`
--

LOCK TABLES `maintenance_logs` WRITE;
/*!40000 ALTER TABLE `maintenance_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `maintenance_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ply_cutter_obj`
--

DROP TABLE IF EXISTS `ply_cutter_obj`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ply_cutter_obj` (
  `id` int NOT NULL AUTO_INCREMENT,
  `plyCutter` varchar(50) DEFAULT NULL,
  `day` varchar(10) NOT NULL,
  `shift` tinyint NOT NULL,
  `obj_value` int DEFAULT '0',
  `updated_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `program` varchar(255) DEFAULT NULL,
  `submitted` tinyint(1) DEFAULT '0',
  `prod_value` int DEFAULT '0',
  `down` tinyint DEFAULT '0',
  `floater` tinyint DEFAULT '0',
  `trainee` tinyint DEFAULT '0',
  `help_requested` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_plycutter_day_shift` (`plyCutter`,`day`,`shift`)
) ENGINE=InnoDB AUTO_INCREMENT=2107 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ply_cutter_obj`
--

LOCK TABLES `ply_cutter_obj` WRITE;
/*!40000 ALTER TABLE `ply_cutter_obj` DISABLE KEYS */;
/*!40000 ALTER TABLE `ply_cutter_obj` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reported_issues`
--

DROP TABLE IF EXISTS `reported_issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reported_issues` (
  `id` int NOT NULL AUTO_INCREMENT,
  `date` datetime NOT NULL,
  `plyCutter` varchar(50) DEFAULT NULL,
  `issue_type` text NOT NULL,
  `comment` text,
  `downtime` int NOT NULL,
  `shift` int NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=256 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reported_issues`
--

LOCK TABLES `reported_issues` WRITE;
/*!40000 ALTER TABLE `reported_issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `reported_issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `shift_tracking`
--

DROP TABLE IF EXISTS `shift_tracking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `shift_tracking` (
  `id` int NOT NULL AUTO_INCREMENT,
  `ply_cutter` varchar(10) NOT NULL,
  `shift` int NOT NULL,
  `day` date NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `ply_cutter` (`ply_cutter`,`day`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `shift_tracking`
--

LOCK TABLES `shift_tracking` WRITE;
/*!40000 ALTER TABLE `shift_tracking` DISABLE KEYS */;
INSERT INTO `shift_tracking` VALUES (1,'PC1',2,'2025-01-31');
/*!40000 ALTER TABLE `shift_tracking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `test_table`
--

DROP TABLE IF EXISTS `test_table`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `test_table` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `test_table`
--

LOCK TABLES `test_table` WRITE;
/*!40000 ALTER TABLE `test_table` DISABLE KEYS */;
/*!40000 ALTER TABLE `test_table` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-05-04 21:06:31
